{{#bs-form model=field onSubmit=(action "save") as |form|}}
  {{form.element controlType="text" label="Label" property="label"}}

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="{{elementId}}-minValue">Valor mínimo</label>
      {{input id=(concat elementId '-minValue') class="form-control" name="minValue" value=minValue type="number"}}
    </div>
    <div class="form-group col-sm-6">
      <label for="{{elementId}}-maxValue">Valor máximo</label>
      {{input id=(concat elementId '-maxValue') class="form-control" name="maxValue" value=maxValue type="number"}}
    </div>
  </div>

  {{form.element controlType="text" label="Placeholder" property="placeholder"}}
  {{form.element controlType="text" label="Texto de ajuda" property="help"}}
  {{form.element controlType="checkbox" label="Pode ficar vazio?" property="allowNull"}}

  {{#bs-button class="btn-sm" onClick=(action "deleteItem")}}Deletar{{/bs-button}}

{{/bs-form}}