{{#bs-form model=field onSubmit=(action "addOption") as |form|}}
  {{form.element controlType="text" label="Label" property="label"}}
  {{form.element controlType="text" label="Texto de ajuda" property="help"}}
  {{form.element controlType="text" label="Valor padrão" property="defaultValue"}}

  <h5>Opções:</h5>
  {{#each-in field.fieldOptions as |key value|}}
    <div class="input-group input-group-sm d-f-f-s-i">
      <input type="text" disabled="disabled" value="{{value}}" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action "removeOption" key}}>Remover</button>
      </span>
    </div>
  {{/each-in}}

  <br>

  <div class="input-group input-group-sm">
    {{input id=(concat elementId '-optionToAdd') class="form-control" name="optionToAdd" value=optionToAdd type="text" placeholder="Adicionar opção"}}
    <span class="input-group-btn">
      <button class="btn btn-default btn-primary" type="button" {{action "addOption"}}>Adicionar</button>
    </span>
  </div>

  {{form.element controlType="checkbox" label="Pode ficar vazio?" property="allowNull"}}
  {{#bs-button class="btn-sm" type="button" onClick=(action "deleteItem")}}Deletar{{/bs-button}}

{{/bs-form}}