{{#bs-form model=field onSubmit=(action "save") as |form|}}
  {{form.element controlType="text" label="Label:" property="label" size="255"}}

  <div class="form-group">
    <label for="{{elementId}}-rows">Quantidade de linhas do editor:</label>
    {{input id=(concat elementId '-rows') class="form-control" name="rows" value=rows type="number"}}
  </div>
  <div class="form-group">
    <label for="{{elementId}}-maxlength">Máximo de palavras do campo:</label>
    {{input id=(concat elementId '-maxlength') class="form-control" name="maxlength" value=maxlength type="number"}}
  </div>

  {{#bs-button class="btn-sm" onClick=(action "deleteItem")}}Deletar{{/bs-button}}
{{/bs-form}}