{{#if widget.news.length}}
  {{#ifCond widget.layout "home"}}
    <div class="container">
      <div class="row">
        {{#each widget.news}}
          <div class="col-md-4">
            <div class="panel panel-default match-grid-col-scroll">
              {{#each featuredImage}}
                <a href="/news/{{../id}}"><img class="img-responsive" src="{{urls.large}}"></a>
              {{/each}}
              <div class="panel-body">
                <h4><a href="/news/{{id}}">{{title}}</a></h4>
                <p>
                  {{{about}}}
                  <br><a href="/news/{{id}}">leia mais <i class="glyphicon glyphicon-link"></i></a>
                </p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    {{#each widget.news}}
      <div class="widget-news-item">
        {{#each featuredImage}}
          <a href="/news/{{../id}}" class="widget-news-featuredImage-link thumbnail"><img class="widget-news-featuredImage" src="{{urls.thumbnail}}"></a>
        {{/each}}
        <div class="widget-news-body">
          <h4 class="news-title">
            <a href="/news/{{id}}">{{title}}</a></h4>
          <p>
            {{{about}}}
            <br><a href="/news/{{id}}">leia mais <i class="glyphicon glyphicon-link"></i></a>
          </p>
        </div>
      </div>
    {{/each}}
  {{/ifCond}}
{{/if}}