<h1 class="page-header">Campos do formulário "{{model.record.name}}"</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    {{#link-to 'd-forms.item' model.record.id}}Campos{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.edit' model.record.id}}Editar formulário{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.use' model.record.id}}Usar{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.answers' model.record.id}}Respostas{{/link-to}}
  </li>
</ul>
<div class="tab-content">
  <div class="row d-f-sidebar">
    <div class="col-md-4">
      <h4>Campos disponíveis</h4>
      <p>Clique para adicionar no formulário</p>
      <div class="row d-f-add-field-buttons">
        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'title'}}>Subtítulo</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'description'}}>Descrição</button>
        </div>

        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'text'}}>Texto</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'number'}}>Número</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'textarea'}}>Texto longo</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'date'}}>Data</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'email'}}>E-mail</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'url'}}>URL</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default btn-block" {{action 'addItem' 'select'}}>Opções / seleção</button>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-form-builder-fields">
      {{d-form-fields-sort-list fields=model.record.fields onSortEnd="onSortEnd"}}
    </div>

    <div class="col-md-12">
      <div class="d-f-actions">
        <button type="button" class="btn btn-primary" {{action "saveForm" model.record}}>Salvar formulário</button>
      </div>
    </div>
  </div>
</div>