<h1 class="page-header">Usar / Formas de adicionar o formulário nas páginas</h1>

<ul class="nav nav-tabs">
  <li role="presentation">
    {{#link-to 'd-forms.item' model.record.id}}Campos{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.edit' model.record.id}}Editar formulário{{/link-to}}
  </li>
  <li role="presentation" class="active">
    {{#link-to 'd-forms.item.use' model.record.id}}Usar{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.answers' model.record.id}}Respostas{{/link-to}}
  </li>
</ul>
<div class="tab-content">
  <div>
    <h4>Acessar o formulário em um Link direto:</h4>
    <p>Link: <a href="{{model.ENV.API_HOST}}{{model.record.linkPermanent}}" target="_blank">{{model.ENV.API_HOST}}{{model.record.linkPermanent}}</a></p>
  </div>
  <hr>
    <h4>Adicionar em um campo com editor HTML</h4>
    <p>Clique no botão "Inserir media" do editor e use o link: <code>{{model.ENV.API_HOST}}{{model.record.linkPermanent}}?iframe=true</code>
    <br>Para uma melhor visualização recomendamos que use o "width/largura" com valor 100% e "height/altura" com valor 700 ou maior
    </p>
  <hr>
  <div>
    <h4>Adicionar em um sistema externo usando iframe (Adicionar no texto de uma página)</h4>
    <p>Copie e cole o código abaixo na página:</p>
    <pre>&lt;iframe width=&quot;100%&quot; height=&quot;700&quot; frameborder=&quot;0&quot; style=&quot;border:0;&quot; scrolling=&quot;no&quot; marginheight=&quot;0&quot; marginwidth=&quot;0&quot; src=&quot;{{model.ENV.API_HOST}}{{model.record.linkPermanent}}?iframe=true&quot;&gt;&lt;/iframe&gt;</pre>
  </div>
</div>